dialog {
  border: none;
  border-radius: 8px;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

label {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 16px;
  font-weight: bold;
}

input {
  width: 360px;
  height: 26px;

  font-size: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  gap: 5px;

  > button {
    width: 60px;
    height: 30px;

    border: none;
    border-radius: 6px;

    background-color: lightgray;
  }
}

.errorMessage {
  visibility: hidden;

  position: absolute;
  top: 55px;
  left: 5px;

  color: red;
  font-size: 14px;
  font-weight: normal;
}

.error {
  border: 2px solid red;

  ~ .errorMessage {
    visibility: visible;
  }
}
